/*最顶部*/
#hw_headtop{
    width: 1920px;
    height: 26px;
    background: #000;
    position: relative;
}
.hw_heada{
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: 6px;
    left: 340px;
}
#hw_headtop>div>div:nth-child(2)>span>a>span>img{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 80px;
}
#hw_headtop>div>div:nth-child(2)>span>a {
    position: absolute;
    top: 6px;
    left: 1050px;
}
#hw_headtop>div>div:nth-child(2)>span:nth-child(2)>a>span>img{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 25px;
}
#hw_headtop>div>div:nth-child(2)>span:nth-child(2)>a{
    position: absolute;
    left: 1150px;
}

/*第二头*/
.hw_top{
    width: 1000px;
    height: 74px;
    margin: 0 auto;
    background: #fff;
    position: relative;
}
.hw_top>div:nth-child(1)>a>img{
    width:100px;
    position: absolute;
    top: 25px;
    left: 100px;
}
.hw_top>div:nth-child(2)>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.hw_top>div:nth-child(2)>ul>li>span>img{
    width: 25px;
    height: 30px;
    position: absolute;
    top: 22px;
    left: 250px;
}
.hw_top>div:nth-child(2)>ul>li:nth-child(2)>span>img{
    position: absolute;
    top: 22px;
    left: 475px;
}
.nav_a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 290px;
}
.hw_top>div:nth-child(2)>ul>li:nth-child(2)>a{
    position: absolute;
    top: 30px;
    left: 515px;
}
.hw_top>div:nth-child(2)>ul:nth-child(2)>li>a{
    position: absolute;
    top: 30px;
    left: 675px;
}
.hw_top>div:nth-child(2)>ul:nth-child(2)>li:nth-child(2)>a{
    position: absolute;
    top: 30px;
    left: 775px;
}
.hw_top>div:nth-child(2)>ul:nth-child(2)>li>img{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 31px;
    left: 735px;
}
.hw_top>div:nth-child(2)>ul:nth-child(2)>li:nth-child(2)>img{
    position: absolute;
    top: 31px;
    left: 820px;
}
.hw_top>div:nth-child(3)>a>img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 27px;
    right: 70px;
}
